ASCRIPT_merge_folders.py
*.ini
config.ini
configPriv.ini
toWeb/.*g
imToCut/Norfolk_01_training.jpg
toWeb/public/images/Norfolk_01_training/
HITBatches/
__pycache__/
words to know.txt
EXTENSION_merge_folders
